@import "tailwindcss";

* {
  box-sizing: border-box;
}

/* Ocultar scrollbar pero mantener funcionalidad */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Líneas de texto limitadas */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Transiciones suaves globales */
a,
button {
  transition-property:
    color, background-color, border-color, opacity, transform;
  transition-duration: 150ms;
}

/* Scroll suave */
html {
  scroll-behavior: smooth;
}
